# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
.vite/
*.log

# System
.DS_Store
Thumbs.db

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Env files (if any)
.env
.env.*

# Electron
*.local
electron-builder.yml